*:before,
*:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 10s all;
}

*::-webkit-scrollbar {
    width: 0.45rem;
    background-color: #282c34;
}

*::-webkit-scrollbar-thumb {
    background-color: #171923;
    border-radius: 3px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*:focus {
    box-shadow: none !important;
}

.wrapper {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 7s ease infinite;
    -z-animation: rainbow 7s ease infinite;
    -o-animation: rainbow 7s ease infinite;
    animation: rainbow 7s ease infinite;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

.phone-input {
    color: black;
}